
#mainContent div {
padding:1px;
}
.imgs img{
width:90%;
padding:5%;
}
.imgs {
width:30%;
float:left;
height:38%;
text-align:center;
color:red;
margin-left:2%;
margin-bottom:3%;
margin-top:5%;
}
.imgs:hover {
background-color:red;
color:black;
}
#variations h1 {
text-align:center;
text-shadow: 1px 1px red;
text-decoration:underline;
}
#variations ol {
padding-left:2%;
}
#variations {
margin:2%;
}
#variations h2 {
text-align:left;
text-shadow: .5px .5px red;
text-decoration:underline;
}
td {
border:solid 1px black;
margin:0px;
}
table,th {
margin:0px;
border:solid 2px black;
}
#pEngine {
border:solid 1px black;
float:right;
width:20%;
height:auto;
}
#pEngine img {
width:98%;
height:auto;
}
#pInterior {
border:solid 1px black;
float:left;
width:30%;
height:auto;
}
#pInterior img {
width:48%;
height:auto;
}
#side812 {
border:solid 1px black;
float:right;
width:30%;
height:auto;
}
#side812 img {
width:98%;
height:auto;
}
.gallery {
height:30%;
width:98%;
text-align:center;
}
.gImgs img {
width:100%;
padding:10%;
margin-left:2%;
text-align:center;
}
.gImgs {
width:22%;
float:left;
margin-left:2%;
text-align:center;
}
